:root{
  /*** Globales ***/
  --global-system-color: rgba(28,133,238,.7);
  --global-system-blur: blur(6px);
  --global-system-radius: 12px;
  --global-system-transparent: rgba(0,0,0,0.4);

  --global-text-color: #FFF;

  /*** Task Bar ***/
  --task-bar-height: 42px;
  --task-margin-bottom: 3px;
  --task-margin-lateral: 5px;

  /*** Menu ***/
  --menu-margin: 5px;
}

/****** Windows ******/

.window-area {
  height: 100%;
  position: relative;
}

.window-area, .task-bar {
  position: relative;
  display: block;
}

.window{
  border-radius: var(--global-system-radius);
}

.window-caption{
  border-radius: var(--global-system-radius) var(--global-system-radius) 0 0;
}

.navview .navview-pane, .navview .navview-menu{
  border-radius: 0 0 0 var(--global-system-radius);
}

.navview{
  border-radius: var(--global-system-radius);
}

.ani-swoopInTop {
  -webkit-animation-name: swoopInTop;
          animation-name: swoopInTop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.ani-swoopOutTop {
  -webkit-animation-name: swoopOutTop;
          animation-name: swoopOutTop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes swoopInTop {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
            transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
  40% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
            transform: scaleY(1.2) translate3d(0, 0, 0);
  }
  65% {
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
            transform: scaleY(1) translate3d(0, 20px, 0);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
            transform: scaleY(1) translate3d(0, 0, 0);
  }
}
@keyframes swoopInTop {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
            transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
  40% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
            transform: scaleY(1.2) translate3d(0, 0, 0);
  }
  65% {
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
            transform: scaleY(1) translate3d(0, 20px, 0);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
            transform: scaleY(1) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes swoopOutTop {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
            transform: scaleY(1) translate3d(0, 0, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
            transform: scaleY(1) translate3d(0, 20px, 0);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
            transform: scaleY(1.2) translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
            transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
}
@keyframes swoopOutTop {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
            transform: scaleY(1) translate3d(0, 0, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
            transform: scaleY(1) translate3d(0, 20px, 0);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
            transform: scaleY(1.2) translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
            transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
}

/****** Global ******/
.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#video-background {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
  position: fixed;
  z-index: -2;
}

#time{
  position: absolute;
  bottom: 25%;
  right: 25%;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 3px 3px var(--global-system-blur) rgba(0,0,0,.7);
  color: var(--global-system-color);
}
