<template>
  <button 
    v-if="getNetwork()[0]"
    class="task-bar-item"
    id="open-charm"
    data-role="hint"
    :data-hint-text="getNetwork()[0].name">
    <span class="mif-comment"></span>
  </button>
</template>

<script>
const si = require('systeminformation');
export default {
  name: 'NetworkIcon',
  data(){
    return{
    }
  },
  methods:{
    openWin: function(id){
      console.log(id);
    },
    getNetwork: async function(){
      let wifi = await si.wifiConnections()
        .then(res=>{console.log(res); return res})
        .catch(err=>{console.log(err)})
      return wifi
    }
  },
  computed: {
  },
  created: function(){
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
