<!DOCTYPE html>
<html lang="">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="metro4:init" content="false" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/metro.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body data-role="touch" data-excluded-elements="input">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="./js/libs/metro.min.js"></script>
    <script src="./js/desktop.js"></script>
    <script src="./js/actions.js"></script>
    <script src="./js/global.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
