<template>
  <div class="task-bar-section tasks ml-auto mr-auto" v-html="this.drowButtons()">
  </div>
</template>

<script>
export default {
  name: 'AplicationsBar',
  data(){
    return{
    }
  },
  methods:{
    openWin: function(id){
      console.log(id);
    },
    drowButtons: function(){
      var html = "";
      for (let win of this.getWindows()){
        console.log(win);
        let winjson = JSON.parse(win)
        console.log(winjson.name) 
        html = html.concat(`
          <button
            data-role="popover"
            data-popover-text="${winjson.name}"
            data-popover-hide="500"
            class="task-bar-item started"
            onclick='LDK.Bridge.openWindow(${winjson.id})'>
            <img src="${winjson.icon}" class="img-fluid task-img" />
          </button>
        `)
      }
      return(html)
    },
    getWindows: function(){
      console.log(this.$WM.windows)
      return (this.$WM.windows.list)
    }
  },
  computed: {},
  created: function(){},
  mounted() {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .task-img{
    max-height: 24px;
  }
</style>
