<template>
  <div id="Menu" class="start-menu" data-role="charms" data-position="left">
    <div class="start-menu-inner">
      <div class="explorer applications-wrapper">
        <div class="container-fluid">
          <div class="row">

            <div class="col-12 text-center top-menu-section">
              <button class="button primary cycle" @click="openSetMenu()">
                <span class="mif-cog mif-2x"></span>
              </button>
              <img :src="userIMG" class="top-menu-img" />
              <button class="button primary cycle" onclick="LDK.IPC('/usr/share/applications/org.lynx.desktop.exit.desktop');return false;">
                <span class="mif-settings-power mif-2x"></span>
              </button>
            </div>

            <ul
              data-tabs-position="vertical"
              data-cls-tabs="flex-justify-center h-100 col-2"
              data-tabs-type="pills"
              data-role="tabs"
              v-html="this.retCategories()">
              
            </ul>

            <div class="col-10" v-html="this.retMenu()">

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
/*global Lynx, LDK, toggleSettingsPanel*/
export default {
  name: 'Menu',
  data(){
    return{
      menuData: Lynx.menu,
      menuHTML: "",
      userIMG: this.$HOME.concat('.face')
    }
  },
  methods:{
    initMenu: function(){
      LDK.Bridge.updateMenu();
      this.retCategories();
      for (let category in this.menuData){
        this.menuHTML = this.menuHTML.concat(`
          <div id="${category.replace(" ", "").toLowerCase()}">
            <ul
            data-role="listview"
            data-view="content">
        `);
        let appMenu = this.menuData[category];
        let apps = appMenu['apps'];
        for (let app in apps){
          if(apps[app].name){
            this.menuHTML = this.menuHTML.concat(`
              <li
                data-icon="${apps[app].icon}"
                data-caption="${apps[app].name}"
                onclick="LDK.IPC('${apps[app].path}');return false;"
                data-on-node-click="LDK.IPC('${apps[app].path}');return false;"
                data-content="<span class='text-muted'>${apps[app].description}</span><span style='display:none;'>${apps[app].keywords}</span>">
              </li>
            `);
          }
        }

        this.menuHTML = this.menuHTML.concat(`
            </ul>
          </div>
        `);
      }
    },
    retCategories: function(){
      let cats = ``;
      for (let category in this.menuData){
        let catName = category.replace(" ", "").toLowerCase();
        cats = cats.concat(`<li><a href="#${catName}">`);
        if (catName == "accesorios") {
          cats = cats.concat(`<span class="mif-attachment"></span>`);
        } else if (catName == "development") {
          cats = cats.concat(`<span class="mif-bug"></span>`);
        } else if (catName == "educación") {
          cats = cats.concat(`<span class="mif-school"></span>`);
        } else if (catName == "gaming") {
          cats = cats.concat(`<span class="mif-gamepad"></span>`);
        } else if (catName == "goonline") {
          cats = cats.concat(`<span class="mif-vpn-publ"></span>`);
        } else if (catName == "gráficos") {
          cats = cats.concat(`<span class="mif-image"></span>`);
        } else if (catName == "help") {
          cats = cats.concat(`<span class="mif-help"></span>`);
        } else if (catName == "multimedia") {
          cats = cats.concat(`<span class="mif-music"></span>`);
        } else if (catName == "oficina") {
          cats = cats.concat(`<span class="mif-libreoffice"></span>`);
        } else if (catName == "settings") {
          cats = cats.concat(`<span class="mif-tools"></span>`);
        } else if (catName == "system") {
          cats = cats.concat(`<span class="mif-linux"></span>`);
        } else {
          cats = cats.concat(`<span class="mif-tux"></span>`);
        }
        cats = cats.concat(`</a></li>`);
      }
      return cats
    },
    retMenu: function(){
      return this.menuHTML;
    },
    openSetMenu: function(){
      toggleSettingsPanel();
    },
    refreshMenu: function(){
      this.menuHTML = "";
      this.initMenu();
    }
  },
  created: function(){
    this.initMenu()
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
  #Menu{
    top: 30%;
    bottom: calc(var(--task-bar-height) + 10px);
    min-width: 40%;
    border-radius: var(--global-system-radius);
    background: var(--global-system-transparent);
    background-color: var(--global-system-transparent) !important;
  }

  .start-menu {
    padding: 15px;
    bottom: 100%;
    background-color: var(--global-system-transparent);
    backdrop-filter: var(--global-system-blur);
    border-radius: var(--global-system-radius);
    color: var(--global-text-color);
    display: block;
    position: absolute;
    float: left;
    margin: var(--menu-margin);
    list-style: none inside none;
    z-index: 1000;
    -webkit-box-shadow: 2px -2px 5px 0px rgb(0 0 0 / 75%);
    box-shadow: 2px -2px 5px 0px rgb(0 0 0 / 75%);
  }

  .start-menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-radius: var(--global-system-radius);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    overflow-y: scroll;
  }

  .explorer{
    width: 100%;
    height: 100%;
  }

  #MenuTabs{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  #MenuContent{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .img-menu{
    max-width: 28px;
  }

  .listview{
    background: transparent;
  }

  .listview.view-content .node{
    min-height: 60px;
    border-radius: var(--global-system-radius);
    background: var(--global-system-transparent);
    border: 1px solid transparent;
  }

  .listview.view-content .node:hover{
    background: var(--global-system-color);
  }

  .listview.view-content .node+.node{
    margin-top: 5px;
    border-top: 0px solid #dfdfdf;
  }

  .listview.view-content .node>.data .caption, .listview.view-content .node>.data .content{
    height: auto;
  }

  .caption{
    font-weight: bold;
    color: var(--global-text-color);
  }

  .tabs {
    position: relative;
    border: 0px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--global-system-transparent);
    color:var(--global-text-color);
    border-radius: var(--global-system-radius);
  }

  .tabs.vertical>ul.tabs-list>li.active {
    border: 0px;
    background: var(--global-system-color);
    background-color: var(--global-system-color);
  }

  .tabs.vertical>ul.tabs-list>li {
    border-right: 0px;
  }

  .tabs>ul.tabs-list>li {
    display: block;
    background-color: transparent;
    color: var(--global-text-color);
    margin: 0 0 -1px 0;
    border-radius: var(--global-system-radius);
  }

  .tabs>ul.tabs-list>li :hover {
    background-color: var(--global-system-color);
  }

  .tabs.vertical>ul.tabs-list{
    border: 0px;
  }

  .top-menu-section{
    margin-top: -90px;
    position: fixed;
  }

  .top-menu-img{
    border-radius: 50%;
    max-height: 90px;
    background: var(--global-system-transparent);
  }

  .button.primary, .command-button.primary, .image-button.primary, .info-button.primary, .input .button.primary, .notify.primary, .select .button.primary, .shortcut.primary, .spinner .button.primary, .split-button .split.primary, .tag-input .button.primary, .tally.primary, .toast.primary, .tool-button.primary, code.primary, tbody td.primary, tbody tr.primary{
    background-color: var(--global-system-color);
    background: var(--global-system-color);
    color: var(--global-text-color);
  }

  .task-bar .task-bar-item.started:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 19px;
    right: 19px;
    height: 4px;
    border-radius: 20px;
    transition: all .3s ease;
  }

  .task-bar:hover .task-bar-item.started:after {
    display: none;
  }
</style>
