<template>
  <div class="task-bar">

    <div class="task-bar-section">

      <button class="task-bar-item" @click="tMenu()">
        <span class="mif-linux"></span>
      </button>

      <button class="task-bar-item" @click="tSearch()">
        <span class="mif-search"></span>
      </button>

      <button class="task-bar-item" @click='tSettings()'>
        <span class="mif-cog"></span>
      </button>

    </div>

    <AplicationsBar />

    <!-- Area de Notificaciones -->
    <div class="task-bar-section system-tray ml-auto">
      <NetworkIcon />
      <span style="line-height: 40px;" class="pr-4">
        <span
          data-role="clock"
          class="w-auto fg-white reduce-1"
          data-show-date="false">
        </span>
      </span>
    </div>

  </div>
</template>

<script>
import NetworkIcon from './trayicons/NetworkIcon'
import AplicationsBar from './ApplicationsBar';

/*global toggleSettingsPanel, toggleSearchLauncher ,toggleMenu*/
export default {
  name: 'TaskBar',
  props: {
  },
  methods:{
    tSettings:function(){
      toggleSettingsPanel();
    },
    tSearch:function(){
      toggleSearchLauncher();
    },
    tMenu:function(){
      toggleMenu();
    }
  },
  components:{
    AplicationsBar,
    NetworkIcon
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  /****** Task Bar ******/

  .task-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-radius: var(--global-system-radius);
    height: var(--task-bar-height);
    background-color: var(--global-system-transparent);
    backdrop-filter: var(--global-system-blur);
    margin-bottom: var(--task-margin-bottom);
    margin-left: var(--task-margin-lateral);
    margin-right: var(--task-margin-lateral);
  }

  .task-bar .task-bar-section {
    height: 100%;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  .task-bar .task-bar-item {
    position: relative;
    display: block;
    width: calc(var(--task-bar-height) + 2px);
    height: calc(var(--task-bar-height) - 2px);
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: default;
    color: var(--global-text-color);
    text-align: center;
    min-width: 0;
    outline: none;
  }

  .task-bar .task-bar-item * {
    display: block;
    margin: 8px 12px;
    height: 24px;
    width: 24px;
    font-size: 18px;
    line-height: 24px;
  }

  .task-bar .task-bar-item:hover {
    background-color: var(--global-system-color);
    border-radius: var(--global-system-radius);
  }

  .task-bar .task-bar-item.active {
    background-color: var(--global-system-color);
  }

  .task-bar .task-bar-item.started::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 3px;
    background-color: var(--global-system-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .task-bar .task-bar-item.started:hover::after {
    left: 1px;
    right: 1px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .task-bar .task-bar-item:active,
  .task-bar .task-bar-item.focus,
  .task-bar .task-bar-item:focus {
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
  }

  .task-bar.icons-small {
    height: 30px;
    padding: 0;
  }

  .task-bar.icons-small .task-bar-item {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }

  .task-bar a.task-bar-item {
    color: var(--global-text-color);
  }

  .task-bar a.task-bar-item:hover {
    color: var(--global-text-color);
  }

  .popover{
    color: var(--global-text-color);
    border-radius: var(--global-system-radius);
    background-color: var(--global-system-transparent);
    backdrop-filter: var(--global-system-blur);
    border: 0px;
  }

</style>
