<template>
  <div data-role="charms" id="lynxSysBackground" data-position="right">
    <div class="explorer">
      <section id="Settings">
        <div class="settings-grid container-fluid">
          <div class="row">
            <div class="col-12"><h2>{{Background}}</h2></div>

            <div class="col-12">

              <form action="#" class="backgrounds-container">
                <p>
                  <label>
                    <input
                      id="video-background-btn"
                      type="checkbox"
                      v-model="moodBackgroundBool"
                      @change="saveMoodBackgroundBool"
                      class="filled-in" />
                    <span >{{ moodBackGroundText }}</span>
                  </label>
                </p>
              </form>

              <div id="backgrounds-submenu" class="container-fluid">

                <div class="row" id="activeBackground" action="#" v-if="moodBackgroundBool">
                  <div class="col-md-4" v-bind:key="index" v-for="(video, index) in backgroundVideos">

                    <video
                      data-role="video-player"
                      data-show-loop="false"
                      data-show-full="false"
                      data-show-mute="false"
                      data-show-volume="false"
                      data-show-stream="false"
                      data-volume=".0"
                      @click="toggleVideo(video)"
                      v-bind:data-src="homeDir + '.config/lynx/background/' + video" type="video/mp4">
                    </video>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
/*global LDK, Lynx, desktop */
export default {
  name: 'LynxSysBackground',
  data:function(){
    return {
      Background: "Background",
      backgroundVideos: Lynx.settings.backgroundVideos,
      moodBackGroundText: "Mood Background",
      moodBackgroundIMG: Lynx.settings.moodBackgroundIMG,
      moodBackgroundBool: Lynx.settings.moodBackgroundBool,
      homeDir: this.$HOME
    }
  },
  methods:{
    saveMoodBackgroundBool: function(){
      LDK.Bridge.saveSettings("moodBackgroundBool", this.moodBackgroundBool);
      this.toggleVideo(this.moodBackgroundIMG);
    },
    saveMoodBackgroundIMG: function(){
      LDK.Bridge.saveSettings("moodBackgroundIMG", this.moodBackgroundIMG);
    },
    toggleVideo: function(name){
      var src = ''
      if (name != false && name != "" && this.moodBackgroundBool) {
        this.moodBackgroundIMG = name;
        this.saveMoodBackgroundIMG();
        src = `${this.homeDir}.config/lynx/background/${name}`;
      } else {
        src = ``;
      }
      let video = desktop.elem('#video-background');
      video.src = src;
    },
    initLynxSysBackground: async function(){
      let sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
      await sleep(1000);
      var objData = new Object();
      for (let [key, value] of Object.entries(Lynx.settings)){
        Object.defineProperty(objData, key, {
          writable: true,
          value: value
        });
      }
      this.moodBackgroundBool = objData.moodBackgroundBool;
      this.moodBackgroundIMG = objData.moodBackgroundIMG;
      this.backgroundVideos = objData.backgroundVideos;
      if(this.moodBackgroundBool){
        this.toggleVideo(this.moodBackgroundIMG);
      }
    }
  },
  created: function(){
    this.initLynxSysBackground();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
