<template>
  <div data-role="charms" id="settingsMenu" data-position="right">
    <div class="explorer">
      <section id="Settings">
        <div class="settings-grid tiles-grid" v-html="this.retMenu()"></div>
      </section>
    </div>
  </div>
</template>

<script>
/*global LDK, Lynx */
export default {
  name: 'LynxSysSettingsMenu',
  data:function(){
    return {
      menuData: Lynx.menu,
      toolsHTML:""
    }
  },
  methods:{
    initMenu: function(){
      LDK.Bridge.updateMenu();
      let appMenu = this.menuData["Settings"];
      let apps = appMenu['apps'];
      for (let app in apps){
        if(apps[app].name){
          this.toolsHTML = this.toolsHTML.concat(`
            <div
              data-size="medium"
              data-role="tile"
              class="grid-item"
              data-effect="hover-zoom-right">
              <a
                class="ipc"
                onclick="LDK.IPC('${apps[app].path}');return false;">
                <div class="slide-front">
                  <img src="${apps[app].icon}" class="h-100 w-100">
                </div>
                <div
                  class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
                  <p class="text-center">${apps[app].description}</p>
                </div>

                <span class="branding-bar fg-dark">${apps[app].name}</span>
                <span style="display:none;">${apps[app].keywords}</span>
              </a>
            </div>
          `);
        }
      }
    },
    retMenu: function(){
      return this.toolsHTML;
    },
    refreshMenu: function(){
      this.toolsHTML = "";
      this.initMenu();
    }
  },
  created: function(){
    this.initMenu();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
