<template>
  <div data-role="charms" id="lynxSysAppearance" data-position="right">
    <div class="explorer">
      <section id="Settings">
        <div class="settings-grid container-fluid">
          <div class="row text-center">
            <div class="col-12"><h2>{{Appearance}}</h2></div>

            <div class="col-12">
              <div class="form-group">
                <label>{{boerderRadius}}</label>
                <input
                  type="range"
                  class="range"
                  v-model="styleBorderRadius"
                  @change="saveStyleBorderRadius()"
                  min="0"
                  max="20">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <input
                  type="checkbox"
                  data-role="switch"
                  @change="saveStyleDarkMode()"
                  v-model="styleDarkMode"
                  v-bind:data-caption="darkModeText" />
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label>{{rgbaSystemColorText}}</label>
                <input
                  v-model="styleColor"
                  @change="saveStyleColor()"
                  placeholder="rgba(0,0,0,0.8)"
                  id="first_name"
                  type="text"
                  class="validate" />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>{{blur}}</label>
                <input
                  type="range"
                  class="range"
                  v-model="styleBlur"
                  @change="saveStyleBlur()"
                  min="0"
                  max="10">
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
/*global LDK, Lynx */
export default {
  name: 'LynxSysAppearance',
  data:function(){
    return {
      Appearance: "Appearance",
      boerderRadius: "Border Radius",
      darkModeText: "Dark Mode",
      blur:"Blur",
      rgbaSystemColorText:"System Color",
      styleDarkMode: Lynx.settings.styleDarkMode,
      styleBorderRadius: Lynx.settings.styleBorderRadius,
      styleColor: Lynx.settings.styleColor,
      styleBlur: Lynx.settings.styleBlur
    }
  },
  methods:{
    initLynxSysAppearance: async function(){
      let sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
      await sleep(1000);
      var objData = new Object();
      for (let [key, value] of Object.entries(Lynx.settings)){
        Object.defineProperty(objData, key, {
          writable: true,
          value: value
        });
      }
      this.styleDarkMode = objData.styleDarkMode;
      this.styleBorderRadius = objData.styleBorderRadius;
      this.styleColor = objData.styleColor;
      this.styleBlur = objData.styleBlur;
    },
    saveStyleDarkMode: function(){
      if (this.styleDarkMode) {
        document.documentElement.style.setProperty('--global-system-transparent', 'rgba(0,0,0,0.4)');
        document.documentElement.style.setProperty('--global-text-color', '#FFF');
      } else {
        document.documentElement.style.setProperty('--global-system-transparent', 'rgba(255,255,255,0.4)');
        document.documentElement.style.setProperty('--global-text-color', '#000');
      }
      LDK.Bridge.saveSettings("styleDarkMode", this.styleDarkMode);
    },
    saveStyleBorderRadius: function(){
      document.documentElement.style.setProperty('--global-system-radius', `${this.styleBorderRadius}px`);
      LDK.Bridge.saveSettings("styleBorderRadius", this.styleBorderRadius);
    },
    saveStyleBlur: function(){
      document.documentElement.style.setProperty('--global-system-blur', `blur(${this.styleBlur}px)`);
      LDK.Bridge.saveSettings("styleBlur", this.styleBlur);
    },
    saveStyleColor: function(){
      document.documentElement.style.setProperty('--global-system-color', `${this.styleColor}`);
      LDK.Bridge.saveSettings("styleColor", this.styleColor);
    }
  },
  created: function(){
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style></style>
