<template>
  <div>
    <aside class="sidebar" data-role="sidebar" id="LynxSys">
      <div
        class="sidebar-header"
        v-bind:data-image="bannerIMGDin()"
        v-bind:style="'background-image: url(' + bannerIMGDin() + ');'">
        <a href="#" class="fg-white sub-action"
            @click="cSettingPanel()">
          <span class="mif-arrow-left mif-2x"></span>
        </a>
        <div class="avatar">
          <img v-bind:src="homeDir + '.face'" />
        </div>
        <span class="title text-cap">{{userName}}</span>
        <span class="subtitle text-cap">{{hostName}}</span>
      </div>
      <div class="sidebar-menu">

        <li>
          <button @click="tAppearance()" class="text-left">
            <span class="mif-eye icon"></span> {{ Appearance }}
          </button>
        </li>

        <li>
          <button @click="tUser()" class="text-left">
            <span class="mif-user icon"></span> {{ User }}
          </button>
        </li>

        <li>
          <button @click="tBackground()" class="text-left">
            <span class="mif-image icon"></span> {{ Background }}
          </button>
        </li>

        <li>
          <button @click="tBehavior()" class="text-left">
            <span class="mif-dashboard icon"></span> {{ Behavior }}
          </button>
        </li>

        <li>
          <button @click="tDevMenu()" class="text-left">
            <span class="mif-cogs icon"></span> {{ System }}
          </button>
        </li>

        <li class="divider"></li>

        <li>
          <button @click="tTools()" class="text-left">
            <span class="mif-tools icon"></span> {{Tools}}
          </button>
        </li>


      </div>
    </aside>

    <div data-role="charms" id="lynxSysUser" data-position="right">
      <div class="explorer">
        <section id="Settings">
          <div class="settings-grid container-fluid">
            <div class="row">

              <div class="col-12">
                <h2>{{User}}</h2>
              </div>

              <div class="col-12">
                <div id="backgrounds-submenu" class="container-fluid">
                  <div class="row">
                    <div class="col-md-4" v-bind:key="index" v-for="(image, index) in bannersUsers">
                      <img
                        @click="saveBannerIMG(image);"
                        v-bind:src="homeDir + '.config/lynx/banners/' + image" />
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
/*global Lynx, LDK, toggleLynxSysUser, toggleLynxSysAppearance,
toggleLynxSysBackground, toggleLynxSysBehavior, toggleLynxSysDevMenu, 
toggleLynxSysTools, closeSettingsPanel */
export default {
  name: 'LynxSys',
  data: function (){
    return {
      Appearance: "Appearance",
      Behavior: "Behavior",
      Background: "Background",
      User:"User",
      Tools: "Tools",
      categoriesTittle: "Visible Applications",
      System: "System",
      "disabledText": "Disabled",
      homeDir: this.$HOME,
      userName: Lynx.settings.userName,
      hostName: Lynx.settings.hostName,
      bannersUsers: Lynx.settings.bannersUsers,
      bannerIMG: Lynx.settings.bannerIMG
    }
  },
  methods:{
    initLynxSys: async function(){
      let sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
      await sleep(1000);
      var objData = new Object();
      for (let [key, value] of Object.entries(Lynx.settings)){
        Object.defineProperty(objData, key, {
          writable: true,
          value: value
        });
      }
      this.userName = objData.userName;
      this.hostName = objData.hostName;
      this.bannersUsers = objData.bannersUsers;
      this.bannerIMG = objData.bannerIMG;
    },
    bannerIMGDin: function(){
      return `${this.homeDir}.config/lynx/banners/${this.bannerIMG}`;
    },
    saveBannerIMG: function(img){
      console.log(img);
      this.bannerIMG = img;
      LDK.Bridge.saveSettings("bannerIMG", this.bannerIMG);
    },
    tUser: function(){
      toggleLynxSysUser();
    },
    tAppearance: function(){
      toggleLynxSysAppearance();
    },
    tBackground: function(){
      toggleLynxSysBackground();
    },
    tBehavior: function(){
      toggleLynxSysBehavior();
    },
    tDevMenu: function(){
      toggleLynxSysDevMenu();
    },
    tTools: function(){
      toggleLynxSysTools();
    },
    cSettingPanel: function(){
      closeSettingsPanel();
    }
  },
  created: function(){
    this.initLynxSys();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  /****** Sidebar ******/
  .sidebar{
    margin: 10px;
    margin-bottom: 52px;
    margin-top: 52px;
    border-radius: var(--global-system-radius);
    background: var(--global-system-transparent);
    backdrop-filter: var(--global-system-blur);
    width: 280px;
    color: var(--global-text-color);
  }

  .accordion.material>.frame>.heading{
    background-color: transparent;
  }

  .sidebar-menu{
    color: var(--global-text-color);
  }

  .accordion.material .frame+.frame{
    border: 0px solid var(--global-system-color);
  }

  #settingsMenu, #lynxSysDevMenu, #lynxSysBehavior, #lynxSysBackground, #lynxSysUser, #lynxSysAppearance{
    margin-top: 52px;
    border-radius: var(--global-system-radius);
    background: transparent !important;
    max-width: calc(100% - 310px);
    max-height: calc(100% - 104PX);
    width: calc(100% - 20px);
    padding: 0px;
    padding-right: 10px;
  }

  #settingsMenu .explorer, #lynxSysDevMenu .explorer, #lynxSysBehavior .explorer, #lynxSysBackground .explorer, #lynxSysUser .explorer, #lynxSysAppearance .explorer{
    border-radius: var(--global-system-radius);
    background: var(--global-system-transparent) !important;
    backdrop-filter: var(--global-system-blur);
    padding: 16px;
  }

  #Settings{
    max-width: 100% ;
    max-height: 100%;
    height: 100%;
    width: auto;
    overflow-y: scroll;
    border-radius: var(--global-system-radius);
  }

  .tiles-grid .tile-medium{
    border-radius: var(--global-system-radius);
  }

  .sidebar-menu li button {
    position: relative;
    display: block;
    color: inherit;
    text-transform: capitalize;
    height: 48px;
    width: 100%;
    color: var(--system-text-color);
    background: transparent;
    border: 0px;
    line-height: 48px;
    padding-left: 56px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sidebar-menu li button .icon {
    position: absolute;
    left: 16px;
    font-size: 24px;
    top: 50%;
    margin-top: -12px;
    line-height: 1;
    opacity: .8;
  }

  .sidebar-menu li.divider {
    background-color: var(--global-system-color);
  }

  .large-lynx{
    width: 100%;
  }

  .button{
    border-radius: var(--global-system-radius);
    color: var(--system-text-color);
    background-color: var(--global-system-color);
    backdrop-filter: var(--global-system-blur);
  }

  .validate{
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--global-system-color);
    margin-bottom: 40px;
    color: var(--global-font-color);
  }

  video, .media-player .controls, .media-player, img{
    border-radius: var(--global-system-radius);
    background-color: transparent;
  }

  .media-player .info-box{
    border-radius: var(--global-system-radius);
    background-color: transparent;
    backdrop-filter: var(--global-system-blur);
  }

  .text-cap{
    font-weight: bold !important;
  }

  .sidebar-header{
    border-bottom: 0px;
  }

  .range {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    backdrop-filter: var(--global-system-blur);
    background-color: var(--global-system-transparent);
    outline: none;
    border-radius: var(--global-system-radius);
    overflow: hidden;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--global-system-color);
    border-radius: var(--global-system-radius);
    cursor: pointer;
    box-shadow: -1007px 0 0 1000px var(--global-system-color);
  }

  .tile-app, .tile-large, .tile-medium, .tile-small, .tile-wide{
    background-color: transparent;
    font-weight: bold;
    border: 0px;
    box-shadow: inset 0 0 0px #000;
  }

  .tile-app .branding-bar, .tile-large .branding-bar, .tile-medium .branding-bar, .tile-small .branding-bar, .tile-wide .branding-bar{
    color: var(--global-text-color);
    font-weight: bold;
  }
</style>
