<template>
  <div data-role="charms" id="lynxSysDevMenu" data-position="right">
    <div class="explorer">
      <section id="Settings">
        <div class="settings-grid container-fluid">
          <div class="row">
            <div class="col-12"><h2>{{devTools}}</h2></div>

            <div class="col-12">

              <button class="button large large-lynx" @click="toggleInspector()">
                {{ inspectorText }}
              </button>

            </div>
            <div class="col-12">
              <h2>{{sysConf}}</h2>
              <button class="button large large-lynx" @click="restoreDefaults()">
                <span class="mif-replay"></span> {{ restoreText }}
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
/*global LDK */
export default {
  name: 'LynxSysDevs',
  data:function(){
    return {
      inspectorText: "Inspector",
      inspectorBool: false,
      restoreText: "Restore Defaults",
      devTools:"Development Tools",
      sysConf:"System Configuration"
    }
  },
  methods:{
    toggleInspector: function(){
      if (this.inspectorBool) {
        LDK.Bridge.hideInspector();
      }else {
        LDK.Bridge.showInspector();
      }
      this.inspectorBool = ! this.inspectorBool;
    },
    restoreDefaults: function(){
      LDK.Bridge.restoreDefaults();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
