<template>
  <div data-role="charms" id="lynxSysBehavior" data-position="right">
    <div class="explorer">
      <section id="Settings">
        <div class="settings-grid container-fluid">
          <div class="row">

            <div class="col-12">
              <h2>{{ behavior }}</h2>
            </div>

            <div class="col-md-6">
              <div class="workspace">
                <label>Work Space 1</label>
                <br />
                <input
                  v-model="workspace1"
                  @change="setWorkspace1"
                  placeholder="startup"
                  id="first_name"
                  type="text"
                  class="validate" />
              </div>

              <div class="workspace">
                <label>Work Space 3</label>
                <br />
                <input
                  v-model="workspace3"
                  @change="setWorkspace3"
                  placeholder="startup"
                  id="first_name"
                  type="text"
                  class="validate" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="workspace">
                <label>Work Space 2</label>
                <br />
                <input
                  v-model="workspace2"
                  @change="setWorkspace2"
                  placeholder="startup"
                  id="first_name"
                  type="text"
                  class="validate" />
              </div>

              <div class="workspace">
                <label>Work Space 4</label>
                <br />
                <input
                  v-model="workspace4"
                  @change="setWorkspace4"
                  placeholder="startup"
                  id="first_name"
                  type="text"
                  class="validate" />
              </div>
            </div>

            <div class="col-12 text-center">
              <label>
                <input
                  type="checkbox"
                  id="auto-tile-btn"
                  v-model="autoTile"
                  @change="saveAutoTile"
                  class="filled-in" />
                <span>{{ tileText }}</span>
              </label>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
/*global LDK, Lynx */
export default {
  name: 'LynxSysBehavior',
  data:function(){
    return {
      behavior: "Behavior",
      workspace1: Lynx.settings.workspace1,
      workspace2: Lynx.settings.workspace2,
      workspace3: Lynx.settings.workspace3,
      workspace4: Lynx.settings.workspace4,
      "tileText": "Auto Tile Windows",
      autoTile: Lynx.settings.autoTile,
    }
  },
  methods:{
    setWorkspace1: function(){
      LDK.Bridge.saveSettings("workspace1", this.workspace1);
    },
    setWorkspace2: function(){
      LDK.Bridge.saveSettings("workspace2", this.workspace2);
    },
    setWorkspace3: function(){
      LDK.Bridge.saveSettings("workspace3", this.workspace3);
    },
    setWorkspace4: function(){
      LDK.Bridge.saveSettings("workspace4", this.workspace4);
    },
    saveAutoTile: function(){
      LDK.Bridge.saveSettings("autoTile", this.autoTile);
    },
    initLynxSys: async function(){
      let sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
      await sleep(1000);
      var objData = new Object();
      for (let [key, value] of Object.entries(Lynx.settings)){
        Object.defineProperty(objData, key, {
          writable: true,
          value: value
        });
      }
      this.workspace1 = objData.workspace1;
      this.workspace2 = objData.workspace2;
      this.workspace3 = objData.workspace3;
      this.workspace4 = objData.workspace4;
      this.autoTile = objData.autoTile;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style></style>
