<template>
  <main>
    <video
      style="border-radius:0px;"
      id="video-background"
      loop
      autoplay
      muted>
    </video>
    <LynxSys />
    <LynxSysAppearance />
    <LynxSysBackground />
    <LynxSysBehavior />
    <LynxSysDevs />
    <LynxSysSettingsMenu />
    <Menu />

    <Search />
    <div id="time"></div>
    <div class="desktop">

      <!-- Seccion de Ventanas -->
      <div class="window-area"></div>

      <!-- Barra Inferior -->
      <TaskBar />
    </div>
  </main>
</template>

<script>
import LynxSys from './lynxSys/LynxSys';
import LynxSysAppearance from './lynxSys/LynxSysAppearance';
import LynxSysBackground from './lynxSys/LynxSysBackground';
import LynxSysBehavior from './lynxSys/LynxSysBehavior';
import LynxSysDevs from './lynxSys/LynxSysDevs';
import LynxSysSettingsMenu from './lynxSys/lynxSysSettingsMenu';
import Search from './search/Search';
import Menu from './taskbar/Menu';
import TaskBar from './taskbar/TaskBar';

export default {
  name: 'Desktop',
  props: {
  },
  components: {
    LynxSys,
    LynxSysAppearance,
    LynxSysBackground,
    LynxSysBehavior,
    LynxSysDevs,
    LynxSysSettingsMenu,
    Search,
    Menu,
    TaskBar
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style></style>
