<template>
  <div class="dialog lynxSearch" data-role="dialog" id="search">
    <div class="col-12 text-center top-search-section">
      <button class="button primary cycle" @click="openSetMenu()">
        <span class="mif-cog mif-2x"></span>
      </button>
      <img :src="userIMG" class="top-menu-img" />
      <button class="button primary cycle" onclick="LDK.IPC('/usr/share/applications/org.lynx.desktop.exit.desktop');return false;">
        <span class="mif-settings-power mif-2x"></span>
      </button>
    </div>
    <div class="dialog-content">

      <input
        type="text"
        data-role="input"
        data-clear-button="false"
        v-model="searchQuery"
        autofocus
        @keyup.esc="cSearchLauncher()"
        id="searchBar"/>

      <div class="explorer">
        <div class="app-conteiner-search">
          <div id="Applications" class="tiles-grid" v-if="searchQuery">
            <div
              data-size="medium"
              v-bind:key="key"
              data-role="tile"
              class="grid-item"
              v-for="(item, key) in filter">
              <a 
                ondragstart="appDrag(event)"
                class="collection-item"
                v-bind:href="'ipc:' + item.path"
                @click="cSearchLauncher()">
                <div class="slide-front">
                  <img v-bind:src="item.icon" class="h-100 w-100" />
                </div>
                <span class="branding-bar">{{item.name}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="dialog-actions">
      <button class="button primary js-dialog-close">X</button>
    </div>
  </div>
</template>

<script>
/*global toggleSettingsPanel, closeSearchLauncher, desktop*/
export default {
  name: 'Search',
  props: {
  },
  data:function(){
    return {
      searchQuery: '',
      ket: "",
      userIMG: this.$HOME.concat('.face')
    }
  },
  methods: {
    openSetMenu: function(){
      toggleSettingsPanel();
    },
    cSearchLauncher: function(){
      closeSearchLauncher();
    }
  },
  computed: {
    filter() {
      let applications = desktop.get_search_items()
      return applications.filter(item => {
        return desktop.matchQuery(item, this.searchQuery);
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .dialog{
    border-radius: var(--global-system-radius);
    background-color: var(--global-system-transparent);
    backdrop-filter: var(--global-system-blur);
    color: var(--global-text-color);
    border: 0px;
    top: 20% !important;
  }

  .dialog-content{
    padding: 6px 12px;
  }

  .input, .input input{
    background: transparent;
    border: 0px;
    color: var(--global-text-color);
  }

  .input.focused {
      -webkit-box-shadow: 0 0 0 0px var(--global-system-color);
      box-shadow: 0 0 0 0px var(--global-system-color);
  }

  .dialog-actions{
    border-top: 0px;
  }

  .metro-input, .file, .input, .textarea, .select, .tag-input, .spinner, .color-picker{
    color: var(--global-text-color);
    border: 0px;
    border-bottom: 2px solid var(--global-system-color);
  }

  .lynxSearch{
    max-height: 74%;
  }

  .lynxSearch, .lynxSearch .dialog-content{
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .lynxSearch .dialog-actions{
    display: none;
  }

  .app-conteiner-search{
    border-radius: var(--global-system-radius);
    max-height: 300px;
    height: 100%;
    width: auto;
    overflow-y: scroll;
    margin: auto;
    padding: 5px
  }

  .lynxSearch .tiles-grid{
    width: 100%;
    height: 100%;
  }

  #search{
    width: 520px !important;
  }

  .top-search-section{
    margin-top: -80px;
    position: fixed;
  }
</style>
