<template>
  <Desktop/>
</template>

<script>
/*global Metro */
import Desktop from './components/Desktop';

export default {
  name: 'App',
  components: {
    Desktop
  },
  mounted: function () {
    Metro.init();
  }
}

</script>

<style>

</style>
